body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    display: flex;
}

.mainContainer {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    position: absolute;
    filter: brightness(50%);
    object-fit: cover;
    z-index: -99999;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    color: aliceblue;
    width: 375px;
    height: 400px;
    backdrop-filter: blur(7px);
    font-family: 'Poppins', sans-serif;
}

.login {
    font-size: 60px;
    margin-bottom: 20px;
}

.informacion {
    font-size: 20px;
    margin-bottom: 28px;
}

.miInput {
    font-family: 'Poppins', sans-serif;
}

.miInputB {
    font-family: 'Poppins', sans-serif;
    padding: 4px 30px;
    border-radius: 20px;
    font-size: 20px;
    border: 0;
}

input[type="text"],
input[type="password"] {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

input:focus {
    outline: none;
}

.contenedorAlerta {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 9999;
    margin-top: 5px;
}

.alerta1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: rgb(128, 0, 0);
    width: 250px;
    height: 70px;
    background-color: rgba(241, 149, 149, 0.8);
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(128, 0, 0);
    position: absolute;
    animation: alerta1Animation 0.5s ease-out forwards;
}

.hide {
    animation: hideAnimation 0.5s ease-out forwards;
}

@keyframes hideAnimation {
    0% {
        /* opacity: 1; */
        transform: translateY(0px);
    }

    100% {
        /* opacity: 0; */
        transform: translateY(-200px);
        display: none;
    }
}

@keyframes alerta1Animation {
    0% {
        /* opacity: 0; */
        transform: translateY(-200px);
    }

    100% {
        /* opacity: 1; */
        transform: translateY(0);
    }
}

.X {
    color: rgb(255, 255, 255);
}

.alertaTop {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}