body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: rgb(255, 255, 255);
}
header {
    display: flex;
    position: relative;
    padding: 10px;
    justify-content: center;
    background-color: rgba(221, 221, 221, 0.959);
    height: 5vh;
}
.texto1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
}
.cs{
    position: absolute;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    margin-top: 5px;
}
.cs a {
    color: #000000;
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: row;
    height: 92.85vh;
    width: 100%;
    align-items: center;
    position: relative;
}
.filter_var{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 85vh;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(-100%);
    
}
.filter_var.animado{
    transition: 2s;
    margin-left: 1%;
    transform: translateX(0%);
}
.filtros{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    background: linear-gradient(rgba(221, 221, 221, 0.959),rgba(237, 209, 209, 0.567));
    border-radius: 25px;
}

.div_filtro_principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.filtro_principal{
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background: transparent;
    text-align: center;
    width: fit-content;
    border-bottom:3px solid rgba(221, 189, 189, 0.567) ;
}
.div_filtro_secundario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.filtro_secundario{
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background: transparent;
    text-align: center;
    border-bottom:3px solid rgba(221, 189, 189, 0.567) ;
}
.div_boton_crear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton_crear{
    border-radius: 25px;
    border: 0;
    font-size: 36px;
    width: 200px;
    color: white;
    background:linear-gradient(rgba(221, 189, 189, 0.873),rgba(221, 167, 167, 0.959));
}
.div_boton_filtro{
    position: absolute;
    transform: translateX(50%);
    border: 0;
    border-radius: 50%;
    background: linear-gradient(rgba(221, 189, 189, 0.873),rgba(221, 167, 167, 0.959));
}
.boton_filtro{
    border: 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 52px;
    color: white;
    background:linear-gradient(rgba(221, 189, 189, 0.873),rgba(221, 167, 167, 0.959));
}
.principal{
    height: 92.85vh;
    width: 100%;
    background-color: #F2F2F2;
}