@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --i:40%; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    background-color: #FFFFFF;;
}
header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #E71D36;
    height: 7.15vh;
}
.logo_container{
    margin-top: 10px;
    left: 20px;
    position: absolute;
}
.logo{
    height: 50px;
    width: 50px;
}
.texto_logo{
    height: 3.5%;
    width: 300px;
}
.texto1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
    color: #FFFFFF;
}
.cs{
    position: absolute;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;

}
.cs-button{
    display: flex;
    padding: 5px;
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
}
.cs-button a {
    color: #E71D36;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: row;
    height: 92.85vh;
    width: 100%;
    position: relative;
}
.filter_var{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(-100%);
    margin-top: 24px;
    
}
.animado{
    transition: 2s;
    margin-left: 1%;
    transform: translateX(0%);
}
.static{
    transition: 0;
    margin-left: 1%;
    transform: translateX(0%);
}

.pickUp{
    transition: 2s;
    transform: translateX(-100%);
}
.filtros{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: #E71D36;
    border-radius: 25px;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.75);
}

.div_filtro_principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.filtro_principal{
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background: transparent;
    font-weight: 500;
    text-align: center;
    width: fit-content;
}
.div_filtro_secundario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.filtro_secundario{
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background: transparent;
    text-align: center;
    font-weight: 500;
}
.div_boton_crear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton_crear{
    border-radius: 25px;
    border: 0;
    font-size: 36px;
    font-weight: 600;
    width: 200px;
    color: #E71D36;
    background-color:#FFFFFF;
}
.div_boton_filtro{
    position: absolute;
    transform: translateX(50%);
    border: 0;
    border-radius: 50%;
}
.boton_filtro{
    border: 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 52px;
    color: #E71D36;
    font-weight: 600;
    background-color:#FFFFFF;
}
.principal{
    height: 92.85vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;	
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 7.5px;
    padding-left: 20px;
    padding-bottom: 7.5px;
    height: 100%;
    width: 80%;
    background-color:#E71D36;
    border-radius: 25px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: -1px 1px 5px rgba(0,0,0,0.75);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.card h3{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
.card_icons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 5px;
    margin-right: 5px;
    gap: 5px;
}
.add{
    display: flex;
    position: fixed;
    width: 98%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.add_pop{
    background-color: #E71D36;
    position: absolute;
    width: 30%;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.75);
    border-radius: 25px;
}
.formulario_add{
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
}
.input_add{
    font-family: 'Poppins', sans-serif;
    border: 0px;
    background-color: transparent;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}
.input_add::placeholder{
    color: #FFFFFF;
}
.select_add{
    font-family: 'Poppins', sans-serif;
    border: 0px;
    background-color: transparent;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}
.select_add option{
    background-color: #E71D36;
}
.button_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.submit_container{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.submit_add{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: white;
    color: #E71D36;
    width: 50%;
    border: 0;
    border-radius: 25px;
}
.cerrar_container{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.cerrar_add_button{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: white;
    color: #E71D36;
    border: 0;
    width: 50%;
    border: 0;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}